Shop/Connected Services/OrderServiceRef/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56177/OrderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56177/OrderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56177/OrderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFContracts.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderContractOf_OrderData_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_GetPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_GetPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_GetTerritory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritory" />
  </wsdl:message>
  <wsdl:message name="IOrderContractOf_OrderData_GetTerritory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTerritoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderContractOf_OrderData">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetAll" message="tns:IOrderContractOf_OrderData_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetAllResponse" message="tns:IOrderContractOf_OrderData_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/Get" message="tns:IOrderContractOf_OrderData_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetResponse" message="tns:IOrderContractOf_OrderData_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetPage" message="tns:IOrderContractOf_OrderData_GetPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetPageResponse" message="tns:IOrderContractOf_OrderData_GetPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/Create" message="tns:IOrderContractOf_OrderData_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/CreateResponse" message="tns:IOrderContractOf_OrderData_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/Update" message="tns:IOrderContractOf_OrderData_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/UpdateResponse" message="tns:IOrderContractOf_OrderData_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/Delete" message="tns:IOrderContractOf_OrderData_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/DeleteResponse" message="tns:IOrderContractOf_OrderData_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTerritory">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetTerritory" message="tns:IOrderContractOf_OrderData_GetTerritory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderContractOf_OrderData/GetTerritoryResponse" message="tns:IOrderContractOf_OrderData_GetTerritory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderContractOf_OrderData" type="tns:IOrderContractOf_OrderData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTerritory">
      <soap:operation soapAction="http://tempuri.org/IOrderContractOf_OrderData/GetTerritory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="BasicHttpBinding_IOrderContractOf_OrderData" binding="tns:BasicHttpBinding_IOrderContractOf_OrderData">
      <soap:address location="http://localhost:56177/OrderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>